node-red_flow_Denon_IoT-Rmote.txt
[{"id":"263f0c38.9ea46c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"20fedc87.c73584","type":"inject","z":"263f0c38.9ea46c","name":"Power On","topic":"denon","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"0.5","x":140,"y":40,"wires":[["a94c23a9.bbd198"]]},{"id":"35e55f69.e55408","type":"debug","z":"263f0c38.9ea46c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":400,"wires":[]},{"id":"24f7d945.9f9e96","type":"mqtt in","z":"263f0c38.9ea46c","name":"","topic":"denon","qos":"2","broker":"c296ed2a.b2e2b","x":130,"y":400,"wires":[["30d5d59e.297162","35e55f69.e55408"]]},{"id":"11ad02b5.728aed","type":"mqtt out","z":"263f0c38.9ea46c","name":"","topic":"notification","qos":"","retain":"","broker":"c296ed2a.b2e2b","x":870,"y":660,"wires":[]},{"id":"bf8d2a0c.b62cf","type":"inject","z":"263f0c38.9ea46c","name":"","topic":"notification","payload":"Ok","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":660,"wires":[["11ad02b5.728aed"]]},{"id":"80358afb.72dac8","type":"inject","z":"263f0c38.9ea46c","name":"Power Off","topic":"denon","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["d1d0115e.fd5b28"]]},{"id":"cd704ac8.6f2bf","type":"http request","z":"263f0c38.9ea46c","name":"","method":"POST","ret":"txt","url":"http://192.168.0.193/MainZone/index.put.asp","tls":"","x":630,"y":140,"wires":[["a554e25d.82ef2"]]},{"id":"207c3294.d7c37e","type":"function","z":"263f0c38.9ea46c","name":"Vol Btn Up","func":"msg.payload={'cmd0':'PutMasterVolumeBtn/>'};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["cd704ac8.6f2bf"]]},{"id":"d1d0115e.fd5b28","type":"function","z":"263f0c38.9ea46c","name":"Power Off","func":"msg.payload = {'cmd0':'PutZone_OnOff/OFF'};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["cd704ac8.6f2bf"]]},{"id":"a94c23a9.bbd198","type":"function","z":"263f0c38.9ea46c","name":"Power On","func":"msg.payload={'cmd0':'PutZone_OnOff/ON'};\nmsg.headers={'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":40,"wires":[["cd704ac8.6f2bf"]]},{"id":"ba94e45f.d81918","type":"denon-in","z":"263f0c38.9ea46c","name":"","controller":"52505d87.5497dc","x":910,"y":520,"wires":[["35e55f69.e55408"]]},{"id":"d0ed7e41.35296","type":"function","z":"263f0c38.9ea46c","name":"Vol Btn Down","func":"msg.payload={'cmd0':'PutMasterVolumeBtn/<'};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["cd704ac8.6f2bf","35e55f69.e55408"]]},{"id":"a554e25d.82ef2","type":"http request","z":"263f0c38.9ea46c","name":"","method":"GET","ret":"txt","url":"http://192.168.0.193/goform/formMainZone_MainZoneXml.xml?=15512587277","tls":"","x":810,"y":140,"wires":[["cdfa5639.2b38e8"]]},{"id":"cdfa5639.2b38e8","type":"xml","z":"263f0c38.9ea46c","name":"","property":"payload","attr":"","chr":"","x":890,"y":240,"wires":[["35e55f69.e55408"]]},{"id":"11b9f830.30f56","type":"inject","z":"263f0c38.9ea46c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["d0ed7e41.35296"]]},{"id":"30d5d59e.297162","type":"function","z":"263f0c38.9ea46c","name":"Volume","func":"if (msg.payload === \"1\"){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-79.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '2'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-78.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '3'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-77.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '4'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-76.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '5'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-75.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '6'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-74.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '7'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-73.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '8'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-72.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '9'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-71.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '10'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-70.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '11'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-69.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '12'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-68.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '13'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-67.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '14'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-66.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '15'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-65.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '16'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-64.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '17'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-63.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '18'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-62.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '19'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-61.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '20'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-60.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '21'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-59.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '22'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-58.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '23'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-57.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '24'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-56.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '25'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-55.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '26'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-54.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '27'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-53.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '28'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-52.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '29'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-51'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '30'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-50'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '31'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-49'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '32'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-48'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '33'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-47'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '34'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-46'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '35'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-45'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '36'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-44'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '37'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-43'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '38'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-42'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '39'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-41'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '40'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-40'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '41'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-39'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '42'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-38'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '43'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-37'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '44'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-36'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '45'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-35'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '46'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-34'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '47'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-33'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '48'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-32'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '49'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-31'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '50'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-30'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '51'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-29'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '52'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-28'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '53'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-27'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '54'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-26'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '55'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-25'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '56'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-24'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '57'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-23'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '58'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-22'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '59'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-21'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '60'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-20'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '61'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-19'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '62'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-18'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '63'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-17'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '64'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-16'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '65'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-15'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '66'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-14'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '67'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-13'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '68'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-12'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '69'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-11'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '70'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-10'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '71'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/-9.0'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}   else if (msg.payload === '0'){\n    msg.payload = {'cmd0':'PutMasterVolumeSet/--'};\n    msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["35e55f69.e55408","cd704ac8.6f2bf"]]},{"id":"c296ed2a.b2e2b","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"52505d87.5497dc","type":"denon-controller","z":"","name":"","host":"192.168.0.5","port":"23"}]